{% extends 'base.html' %}

{% block content %}

<h1>Home</h1>

<p> ipsum dolor sit amet consectetur, adipisicing elit. Minima, accusamus voluptate ipsa nostrum illo commodi sunt
    corrupti, facere labore ratione cumque ducimus voluptas molestias similique quos omnis iure? Sapiente, similique!

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, accusamus voluptate ipsa nostrum illo commodi sunt
    corrupti, facere labore ratione cumque ducimus voluptas molestias similique quos omnis iure? Sapiente, similique!

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, accusamus voluptate ipsa nostrum illo commodi sunt
    corrupti, facere labore ratione cumque ducimus voluptas molestias similique quos omnis iure? Sapiente, similique!

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, accusamus voluptate ipsa nostrum illo commodi sunt
    corrupti, facere labore ratione cumque ducimus voluptas molestias similique quos omnis iure? Sapiente, similique!

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, accusamus voluptate ipsa nostrum illo commodi sunt
    corrupti, facere labore ratione cumque ducimus voluptas molestias similique quos omnis iure? Sapiente, similique!

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, accusamus voluptate ipsa nostrum illo commodi sunt
    corrupti, facere labore ratione cumque ducimus voluptas molestias similique quos omnis iure? Sapiente, similique!

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, accusamus voluptate ipsa nostrum illo commodi sunt
    corrupti, facere labore ratione cumque ducimus voluptas molestias similique quos omnis iure? Sapiente, similique!

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, accusamus voluptate ipsa nostrum illo commodi sunt
    corrupti, facere labore ratione cumque ducimus voluptas molestias similique quos omnis iure? Sapiente, similique!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, accusamus voluptate ipsa nostrum illo commodi sunt
    corrupti, facere labore ratione cumque ducimus voluptas molestias similique quos omnis iure? Sapiente, similique!

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, accusamus voluptate ipsa nostrum illo commodi sunt
    corrupti, facere labore ratione cumque ducimus voluptas molestias similique quos omnis iure? Sapiente, similique!

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, accusamus voluptate ipsa nostrum illo commodi sunt
    corrupti, facere labore ratione cumque ducimus voluptas molestias similique quos omnis iure? Sapiente, similique!

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, accusamus voluptate ipsa nostrum illo commodi sunt
    corrupti, facere labore ratione cumque ducimus voluptas molestias similique quos omnis iure? Sapiente, similique!

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, accusamus voluptate ipsa nostrum illo commodi sunt
    corrupti, facere labore ratione cumque ducimus voluptas molestias similique quos omnis iure? Sapiente, similique!
</p>



{% endblock %}