{% extends 'base.html' %}

{% block content %}

<h1>Shop</h1>

<div class="shoplist">
    <img class="shopthumbnail" src="/static/images/pogoimage/pokemon_icon_001_00.png" />
    <img class="shopthumbnail" src="/static/images/pogoimage/pokemon_icon_002_00.png" />
    <img class="shopthumbnail" src="/static/images/pogoimage/pokemon_icon_003_00.png" />
    <img class="shopthumbnail" src="/static/images/pogoimage/pokemon_icon_004_00.png" />
    <img class="shopthumbnail" src="/static/images/pogoimage/pokemon_icon_005_00.png" />
    <img class="shopthumbnail" src="/static/images/pogoimage/pokemon_icon_006_00.png" />
    <img class="shopthumbnail" src="/static/images/pogoimage/pokemon_icon_007_00.png" />
</div>

{% endblock %}